@page "/"
@using Drogecode.Blazor.Froala

<PageTitle>Drogecode Froala demo</PageTitle>

<h1>Drogecode Froala demo</h1>

<FroalaEditor Config="_config" Detail="_detail"/>

@if (_detail.IsInitialized)
{
    <button @onclick="_detail.CallDeInitialize">DeInitialize</button>
}
else if (!_detail.IsDeleted)
{
    <button @onclick="_detail.CallInitialize">Initialize</button>
}
<button @onclick="Delete">Delete</button>